{
	"arrowParens": "avoid",
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 2,
	"semi": false,
	"trailingComma": "none",

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/components/layout/(.*)$",
		"^@/components/screens/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/styles/(.*)$",
		"^@/config/(.*)$",
		"^@/utils/(.*)$",
		"^@/services/(.*)$",
		"^.+\\.(module\\.scss)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
