@import '@/assets/styles/variables';

.burger_menu {
	display: none;
	background-color: transparent;

	> img {
		width: 16px;

		&:first-child {
			width: 20px;
		}

		&:last-child {
			display: none;
		}
	}

	&.close {
		> img:first-child {
			display: none;
		}

		> img:last-child {
			display: block;
		}
	}

	@media (max-width: 780px) {
		display: block;
	}
}
