@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap');

$default-font: 'Montserrat', sans-serif;

$black: rgba(28, 42, 57, 1);
$gray: rgba(92, 106, 121, 1);
$purple: rgba(76, 61, 178, 1);
$box-shadow: 0 24px 36px rgba(53, 49, 84, 0.0784);
